<?xml version="1.0" encoding="UTF-8"?>

<phpunit convertDeprecationsToExceptions="true">
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>

	<php>
		<ini name="error_reporting" value="-1"/>
	</php>

	<coverage>
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</coverage>
</phpunit>
