<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	colors="true"
>
	<testsuites>
		<testsuite>
			<directory suffix=".php">test</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist checkForUnintentionallyCoveredCode="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-html" target="test-coverage" lowUpperBound="50" highLowerBound="70" />
	</logging>
</phpunit>
